html, body {
 background-color: #1f2020;
 margin: 0; 
 padding: 0;
 font-family: "Alata", sans-serif;
 border: 1px white;
}

/* ---------------------------------   nav bar  ----------------------------------  */

.main-nav {
 display: flex;
 color: #EEEEEE;
 justify-content:space-between;
 padding: 13px 100px;
 align-items: center;
 background: rgba(31, 32, 32, 0.10);
 backdrop-filter: blur(50px);
 position: fixed;
 right: 0;
 left: 0;
 top: 0;
 z-index: 100;
 font-family: Alata;
}

.menu {
 display: none;
}

.nav-links{
 display: flex;
 align-items: center;
 gap: 30px;
 /* font-weight: 400; */
}

@media (max-width: 900px) {
 .menu{
  display: block;
 }
 .nav-links{
  display: none;
 }

 .main-nav {
  padding: 13px 40px;
 }
}

.joinus-btn {
 padding: 8px 40px;
 background-color: transparent;
 border: solid 1px white;
 color: rgb(229, 231, 235);
 border-radius: 6px;
 margin-left: 15px;
 font-family: poppins;
 font-size: 19px;
}
 /* ------------------------------------- landing page ------------------------------ */

.landing{
 background-image: url(./images/Hero_bg.jpg);
 height: 100vh;
 width: 100%;
 background-repeat: no-repeat;
 background-size:cover;
 display: flex; 
 justify-content: start;
 align-items: center;
 position: relative;
}

.landing-div {
 margin-left: 100px;
}
.success-img{
 max-height: 120px;
}

.landing-text{
 color: #FFF;
 line-height: 28px; /* 140% */
 margin-bottom: 20px;
 font-family: poppins;
 font-size: 19px;
 }
 .apply-btn {
  background-color:#f53a4c;
  border: none;
  border-radius: 40px;
  font-family: poppins;
  padding: 13px 50px;
  color: white;
  margin: 0 20px;
  font-size: 18px;
 }
 .learnmore-btn {
  background-color: transparent;
  border: white solid 2px;
  border-radius: 40px;
  color: white;
  padding: 12px 30px;
  font-family: poppins;
  font-size: 18px;
 }
 .success-img2{
  display: none;
 }

@media (max-width: 900px) {
 .landing{
  justify-content: center;
 }
 .landing-div {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .landing-text{
  font-size: 23px;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  }
  .success-img{
   display: none;  
   }
   .success-img2{
    display: block;
    padding-bottom: 10px;
   }
}
@media (max-width: 700px) {
 .landing-text{
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
  }
.btn-holder {
 display: flex;
 justify-content: center;
}
  .apply-btn {
   padding: 9px 40px;
   margin: 0 10px 0 0;
   font-size: 16px;
  }
  .learnmore-btn {
   padding: 8px 15px;
   font-size: 16px;
  }
}
@media (max-width: 400px) {
  .success-img2{
   width:250px ;
  }
  .landing-text{
   margin-bottom: 10px;
   text-align: center;
   }
}

.section-divider {
 position: absolute;
 bottom:0 ;
 width: 100%;
 margin-bottom:10px ; 
}
.line1 {
 content: "";
 height: 10px;
 width: 35%;
 background-color: #24f1ef;
 box-shadow: 0 0 10px #24f1ef;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 position: absolute;
 z-index: 4;
}
.line2 {
 content: "";
 height: 10px;
 width: 60%;
 background-color: #fe942d;
 box-shadow: 0 0 10px #fe942d;
 border-radius: 10px;
 position: absolute;
 z-index: 3;
}
.line3 {
 content: "";
 height: 10px;
 width: 80%;
 background-color: #f53a4c;
 box-shadow: 0 0 10px #f53a4c;
 border-radius: 10px;
 position: absolute;
 z-index: 2;
}
.line4 {
 content: "";
 height: 10px;
 width: 100%;
 background-color: #122c62;
 box-shadow: 0 0 10px #122c62;
 position: absolute;
 z-index: 1;
}

/* ------------------------------------------------- */
.second-sec, .third-sec{
 height: 100vh;
 display: flex;
 justify-content:center;
 gap: 80px;
 align-items: center;
}
@media (max-width: 480px) {
 .second-sec, .third-sec {
  height:700px;
 }
}
.order {
 display: block;
}
.earn-img {
 max-height: 400px;
 padding: 0 40px;
}

.croun-div {
 position: relative;
}
.arrow{
 height: 40px;
}

.main-img{
 max-height: 400px;
 padding: 0 40px;
}

.croun {
 position: absolute;
 height: 200px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.sharpen{
 color: #fff;
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
}

.at-peak {
/* height: 114px; */
flex-shrink: 0;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 25px; /* 140% */
}

.second-sec-right{
 display: flex;
 flex-direction: column;
 gap: 20px;
 position: relative;
 padding: 0 40px;
}
.croun-btn{
 background-color: #fe942d;
 display: flex;
 align-items: center;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 200px;
 font-weight:700 ;
 font-size: 17px;
 justify-content: center;
 margin-top: 20px;
}
.croun-btn{
 background-color: #fe942d;
 display: flex;
 align-items: center;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 200px;
 font-weight:700 ;
 font-size: 17px;
 justify-content: center;
 margin-top: 20px;
}

.croun-btn:hover {
 background-color: #bd8a57;
}

@media (max-width: 1300px) {
 .earn-img {
  height: 300px;
 }
 .main-img{
  height: 300px;
 }
}

@media (max-width: 1000px) {
 .sharpen{
  font-size: 30px;
 }
}

@media (max-width: 860px) {
 .second-sec, .third-sec {
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
 }
 .order {
  order: 1;
 }
 .order-2{
  order: 2;
 }
 .sharpen, .at-peak{
  text-align: center;
 }
 .earn-img {
  height: 220px;
 }
 .main-img{
  height: 200px;
 }
 .croun{
  height: 120px;
 }
 .sharpen {
  font-size: 25px;
  text-align: center;
  max-width: 400px;
 }
 .at-peak{
  max-width: 400px;
  font-size: 17px;
  color: rgb(243, 239, 239);
 }
 .second-sec-right{
  justify-content: space-around;
  align-items: center;
 }
 .second-sec-right{
  gap: 10px;
}
.croun-btn{
 font-weight:700 ;
 font-size: 17px;
 justify-content: center;
 margin-top: 0px;
}
}

@media (max-width: 431px) {
 .sharpen {
  font-size: 23px;
  margin-bottom: 10px;
 }
 .at-peak{
  font-size: 15px;
 }
 .croun-btn{
  margin-top:10px;
 }
}

/* /////////////////////////////////////////////// */
.elips {
 content: "";
 box-shadow: 1px 10px 1000px 50px #fe942d;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.elips2 {
 content: "";
 box-shadow: -100px 10px 1000px 50px #24f1ef;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.elips3 {
 content: "";
 box-shadow: -100px 10px 1000px 50px #f53a4c;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.elips4 {
 content: "";
 box-shadow: -100px 10px 1000px 50px rgb(129, 130, 130);;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}



.croun-btn2{
 background-color: #24f1ef;
 display: flex;
 align-items: center;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 200px;
 justify-content: center;
 font-weight:700 ;
 font-size: 17px;
 margin-top: 20px;
}

 @media (max-width: 415px) {
  /* .croun-btn2{
   font-size: 15px;
   width: 300px;
  } */
  .arrow{
   height: 20;
  }
 }

.croun-btn-3{
 background-color: #f53a4c;
 display: flex;
 align-items: center;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 210px;
 justify-content: center;
 font-weight:700 ;
 font-size: 17px;
}
.croun-btn-4{
 background-color: #122c62;
 display: flex;
 align-items: center;
 margin: auto;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 200px;
 justify-content: center;
 margin-top: 10px;
}
.croun-btn-5{
 background-color: rgb(129, 130, 130);
 display: flex;
 align-items: center;
 gap: 10px;
 border: none;
 border-radius: 40px;
 color: white;
 padding: 5px 15px;
 width: 200px;
 justify-content: center;
 margin-top: 10px;
}

@media (max-width: 860px) {
 .croun-btn-3 .croun-btn-5, .croun-btn2 {
  display: flex;
  width: 220px;
  margin: auto;
  margin-top: 15px;
 }
 .croun-btn-4{
  width: 250px;
 }
}

.line5 {
 content: "";
 height: 10px;
 width: 100%;
 background-color: #fe942d;
 box-shadow: 0 0 30px #fe942d;
}
.line6 {
 content: "";
 height: 10px;
 width: 100%;
 background-color: #24f1ef;
 box-shadow: 0 0 30px #24f1ef;
}
.line7 {
 content: "";
 height: 10px;
 width: 100%;
 background-color: #f53a4c;
 box-shadow: 0 0 30px #f53a4c;
}
.line8 {
 content: "";
 height: 10px;
 width: 100%;
 background-color: #122c62;
 box-shadow: 0 0 30px #122c62;
}


.pill-img {
 height: 400px;
}

.forth-section-slid-container{
 display: flex;
 justify-content: space-around;
 gap: 10px;
}

@media (max-width: 950px) {
 .forth-section-slid-container{
  flex-direction: column;
  align-items: center;
  gap: 120px;
 }
}

.forth-section-cards {
 width: 400px;

}

.robo-img {
 height: 120px;
 position: absolute;
 top: -70px;
 right: 50%;
 transform: translate(50%, 0%);
}

.forth-section {
 display: flex;
 flex-direction: column;
 /* align-items: center; */
 justify-content: center;
 margin: 100px 0 0 0 ;
 color: white;
 padding-bottom:50px ;
}

.take-look {
 color: #FFF;
text-align: center;
font-size: 24px;
text-transform: capitalize;
margin-top: 0;
margin-bottom: 100px;
padding: 0 20px;
}
.forth-section-cards {
width: 300px;

border-radius: 14px;
box-shadow: 0px 0px 100px 20px  rgba(18, 44, 98, 0.3);
display: flex;
flex-direction: column;
align-items: center;
text-align:center;
position: relative;
padding-top: 50px;
}

.small-p{
 color: #FFF;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 200% */
text-transform: capitalize;
}

.medium-p {
 color: #FFF;
text-align: center;
font-family: Alata;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
text-transform: capitalize;
width: 250px;

}

.main-p {
 color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 171.429% */
text-transform: capitalize;
width: 250px;
margin-top: 20px;
margin-bottom: 100px;
}
.see-more {
 position: absolute;
 bottom: 20px;
 right: 20px;
 color: #FFF;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 200% */
text-transform: capitalize;
}

.gears-img {
 height: 130px;
 margin-bottom: 10px;
}

@media (max-width: 460px) {
 .gears-img {
  height: 120px;
 }
}
@media (max-width: 370px) {
 .gears-img {
  height: 110px;
 }
}
@media (max-width: 320px) {
 .gears-img {
  height: 100px;
 }
}

.forth-section-head{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.last-sec {
 display: flex;
 flex-direction: column;
 background: url(./images/Footerbg\ \(2\).png);
 background-size:auto;
 background-repeat: no-repeat;
 color: #EEEEEE;
 padding: 100px 0 10px 0;
}

.bottom {
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 /* align-items: center; */
}
.last-sec-top {
 display: flex;
 justify-content: space-around;
 padding: 0 0 40px 0;
}
.last-disc {
 display: flex;
 justify-content: center;
 padding: 0;
 margin: 5px 0;
}
.last-discription {
 margin: 30px 0;
 color: #FFF;
font-size: 20px;
letter-spacing: 1px;
}

@media (max-width: 850px) {
 .last-sec-top{
  flex-direction: column;
  margin: auto;
 }
 .last-discription{
  text-align: center;
 }
 .last-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
}

.comment {
 width: 300px;
 height: 150px;
 background-color: transparent;
 display: flex;
 align-items:start;
 border: 2px solid white;
 border-radius: 3px;
 margin: 0 0 50px 0;
 padding: 15px;
}
.still{
 color: #FFF;
-webkit-text-stroke-width: 0.7863616347312927;
-webkit-text-stroke-color: #FFF;
font-family: Alata;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 31.283px; /* 86.896% */
letter-spacing: 1.8px;
margin-bottom:5px ;
margin-top: 0;
}

.got{
 color: #FFF;
font-size: 24px;
margin: 0 0 40px 0;
padding: 0;
}
.socials {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 20px;
}
@media (max-width: 400px) {
 .comment {
  width: 80%;
  height: 100px;
  margin: auto;
 }
 .still{
  font-size: 30px;
  text-align: center;
 }
 .got{
  font-size: 20px;
  text-align: center;
 }
 .right {
  display: flex;
  flex-direction: column;
 }
 .last-discription {
  font-size: 17px;
  padding: 2px 0;
  order: 3;

 }
 .last-logo{
  order: 2;
 }
 .hawasa-dic{
  margin-top:10px ;
 }
 .last-sec-top{
  padding: 0 0 10px 0;
 }
}
.social {
 height: 25px;
 margin-right:10px ;
} 
.rich {
 margin: 0;
}

.last-discription p{
 margin: 0;
}
.hawasa-logo {
 height: 60px;
}
.hawasa-dic {
 display: flex;
 flex-direction: column;
 align-items: center;
 color: #FFF;
font-family: Alata;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 31.283px; /* 130.344% */
letter-spacing: 1.2px;
}

.left{
 display: flex;
 flex-direction: column;
 /* align-items: center;
 justify-content: center; */
}

